<!DOCTYPE html> 
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <title>Westridge Ceramics</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/297392fead.js" crossorigin="anonymous"></script>
    
</head>
<body class="body">
  
  <%- include('partials/navbar') %> 

  <div class="page-top">
    <h2 class="page-title">Edit Artwork</h2>
  </div>
  
  <a href="/account" class="back-button"><i class="fa-solid fa-chevron-left"></i></a>
  

   
    <form id="art-submissionForm" action="/editPost" method="post" enctype="multipart/form-data" class="upload-form">
    <input type="hidden" value="<%= posts._id %>" name="id">
      
    <div class="uploadsections">
      <div class="section1">
        <div>
            <label for="art-title"><span style="font-weight: 600;">Title:</span></label> 
            <input type="text" id="art-title" name="title"  value="<%= posts.title %>" required><br>
        </div>
        
          <div>
            <label><span style="font-weight: 600;">Class:</span></label><br>
            <input type="radio" id="class_handbuilding" name="className" value="Handbuilding" 
            <%= (posts.class == "Handbuilding" ? "checked":"") %>>
            <label for="class_handbuilding">Handbuilding</label><br>
            <input type="radio" id="class_cd1" name="className" value="Clay Design & Engineering I" <%= (posts.class == "Clay Design & Engineering I" ? "checked":"") %>>
            <label for="class_cd1">CD+E I</label><br>
            <input type="radio" id="class_cd2" name="className" value="Clay Design & Engineering II" <%= (posts.class == "Clay Design & Engineering II" ? "checked":"") %>>
            <label for="class_cd2">CD+E II</label><br>
        </div>
        <div>
            <label><span style="font-weight: 600;">Type:</span></label><br>
            <input type="radio" id="bowl" name="type" value="Bowl" 
            <%= (posts.type == "Bowl" ? "checked":"") %>>
            <label for="bowl">Bowl</label><br>

            <input type="radio" id="cup" name="type" value="Cup" 
            <%= (posts.type == "Cup" ? "checked":"") %>>
            <label for="cup">Cup</label><br>

            <input type="radio" id="plate" name="type" value="Plate" 
            <%= (posts.type == "Plate" ? "checked":"") %>>
            <label for="plate">Plate</label><br>

            <input type="radio" id="sculpture" name="type" value="Sculpture" 
            <%= (posts.type == "Sculpture" ? "checked":"") %>>
            <label for="sculpture">Sculpture</label><br>

            <input type="radio" id="teapot" name="type" value="Teapot" 
            <%= (posts.type == "Teapot" ? "checked":"") %>>
            <label for="teapot">Teapot</label><br>

            <input type="radio" id="liddedForm" name="type" value="Lidded Form" 
            <%= (posts.type == "Lidded Form" ? "checked":"") %>>
            <label for="liddedForm">Lidded Form</label><br>

            <input type="radio" id="vase" name="type" value="Vase" 
            <%= (posts.type == "Vase" ? "checked":"") %>>
            <label for="vase">Vase</label><br>

            <input type="radio" id="other" name="type" value="Other" 
            <%= (posts.type == "Other" ? "checked":"") %>>
            <label for="other">Other</label><br>
        </div>
        
        <div>
            <label><span style="font-weight: 600;">Glaze:</span></label><br>
            <% glazePosts.forEach((glazePost, index) => { %>
            <input type="checkbox" id="glaze_<%= index %>" name="glaze[]" value="<%= glazePost.title %>"
             
            <%= (posts.glaze == glazePost.title ? "checked":"") %>>
            
            <label for="glaze_<%= index %>"><%= glazePost.title %></label><br>
            <% }); %>
        </div>
        
        
      </div>
       
      <div class="section2">
  
        <div>
          <label for="file"><span style="font-weight: 600;">Upload Photos:</span> <br>(Click in the order you want them to be displayed)
            </label><br>
            
            <input type="file" id="file" name="images" accept="image/*" multiple ><br> 
     
      
        </div>
        
        <div id="postsList" class="post-list">
          <% posts.imageFiles.forEach((image, index) => { %>
        <div class="edit-photo">
              <div class="edit-image-container">
                <img class="post-image" src="/images/<%= image %>" alt="">
              </div>

          <form action="/deleteImage/<%= posts._id %>" method="POST" style="display: inline;">
              <input type="hidden" name="image" value="<%= image %>">
              <button type="submit" class="edit-delete"><i class="fa-solid fa-trash"></i></button>
            
          </form>
        
      </div>
    <% }) %>
  </div>
        
        
        <br>

        <div>
          <label for="description"><span style="font-weight: 600;">Description:</span><br>Specific glazing methods, your art process, etc.</label><br>
           
            <textarea id="description" name="description" rows="4" cols="50" required><%= posts.description %></textarea><br>
        </div>
        <br>
        
        <input type="submit" class="submit-button" value="Save">
        
      </div>
      </div>
         
    

    </form>
    
    
 
    
    
  

</body>
</html>
